.round-box{
    font-size: 2rem;
    color: #24695c;
}
.income-card:hover .round-box{
    color: whitesmoke;
}
.selected-menu-item{
    color: #24695c !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}
.nav-submenu li a:hover{
    color: #24695c !important;
    font-weight: bold !important;
    text-decoration: underline !important;
    transition-duration: 128ms;
    transition-timing-function: ease-in-out;
}
.fabutton-dark {
    background: none;
    padding: 0px;
    border: none;
    font-size: 1.1rem;
    color: whitesmoke;
  }
.fabutton-light {
    background: none;
    padding: 0px;
    border: none;
    font-size: 1.1rem;
    color: black;
  }
.title-lang-code{
    color: rgb(255, 64, 64);
    text-transform: uppercase;
}
.img-fluid{
    max-height: 512px;
}
.cropped{
    max-width: 250px;
    max-height: 250px;
}
.cropped-mobile{
    max-width: 250px;
    max-height: 250px;
}
.cropped-favicon{
    max-width: 250px;
    max-height: 250px;
}
.cropped-banner{
    max-width: 250px;
    max-height: 250px;
}
.cropped-multi{
    max-width: 250px;
    max-height: 250px;
}
.cropper-buttons{
    margin-top: 1%;
    margin-bottom: 1%;
}
.crop{
    width:75%;
    margin-top:3%;
    margin: auto;
}
.crop-mobile{
    width:75%;
    margin-top:3%;
    margin: auto;
}
.crop-favicon{
    width:75%;
    margin-top:3%;
    margin: auto;
}
.crop-banner{
    width:75%;
    margin-top:3%;
    margin: auto;
}
.crop-multi{
    width:75%;
    margin-top:3%;
    margin: auto;
}
.updateimagebutton{
    width:75%;
    margin: 10% auto;
}
.custom-table{
    cursor: pointer;
}
.custom-table-image{
    height: 64px;
}
.custom-switch{
    height: 20px;
    width: 40px !important;
}
.custom-switch-label{
    margin-left:8px;
}

.custom-dropdown {
  width: 20%;
}

@media only screen and (max-width: 400px) {
  .disappear-400 {
    display: none;
  }
  .resize-button-400 {
    width: 64px;
  }
  .block-400{
    display: block;
  }
}

@media only screen and (max-width: 500px) {
    .disappear-500 {
      display: none;
    }
    .resize-button-500 {
      width: 64px;
    }
  }

@media only screen and (max-width: 600px) {
    .disappear-600 {
      display: none;
    }
    .resize-button-600 {
      width: 64px;
    }
    .resize-dropdown-600 {
      width: 100%;
    }
  }

@media only screen and (max-width: 700px) {
    .disappear-700 {
      display: none;
    }
    .resize-button-700 {
      width: 64px;
    }
    .resize-dropdown-700 {
      width: 100%;
    }
  }

@media only screen and (max-width: 800px) {
    .disappear-800 {
      display: none;
    }
    .resize-button-800 {
      width: 64px;
    }
    .resize-dropdown-800 {
      width: 100%;
    }
  }

@media only screen and (max-width: 992px) {
    .disappear-992 {
      display: none;
    }
    .resize-button-992 {
      width: 64px;
    }
  }

@media only screen and (max-width: 1100px) {
  .disappear-1100 {
    display: none;
  }
  .resize-button-1100 {
    width: 64px;
  }
}

@media only screen and (max-width: 1250px) {
    .disappear-1250 {
      display: none;
    }
    .resize-button-1250 {
      width: 64px;
    }
  }

  @media only screen and (max-width: 1300px) {
      .disappear-1300 {
        display: none;
      }
      .resize-button-1300 {
        width: 64px;
      }
    }

@media only screen and (max-width: 1400px) {
    .disappear-1400 {
      display: none;
    }
    .resize-button-1400 {
      width: 64px;
    }
  }

@media only screen and (max-width: 1550px) {
  .disappear-1550 {
    display: none;
  }
  .resize-button-1550 {
    width: 64px;
  }
}

.slider-image{
  height: 50px;
}
@media only screen and (max-width: 500px) {
  .slider-image{
    height: 32px;
  }
}


.cropped-preview{
  margin-top: 10%;
}
@media only screen and (max-width: 1400px) {
  .cropped-preview{
    margin-top: 0;
  }
}

.cropper-buttons{
  margin-top: 0;
  padding-top: 0;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
/*
  html::-webkit-scrollbar{
    display: none;
  }
*/

  .page-body{
    min-height: 96vh !important;
  }

  .custom-cursor:hover{
    cursor:pointer;
  }

  .version-text{
    margin-left:-16px;
    margin-top:10px;
  }
  @media only screen and (max-width: 1200px) {
    .version-text{
      margin-left:-45px;
      margin-top:10px;
    }
  }
  @media only screen and (max-width: 990px) {
    .version-text{
      margin-left:-55px;
      margin-top:10px;
    }
  }
  @media only screen and (max-width: 990px) {
    .version-text{
      margin-left:-55px;
      margin-top:10px;
    }
  }
  @media only screen and (max-width: 767px) {
    .version-text{
      margin-left:0px;
      margin-top:10px;
    }
  }

  .index-m-info{
    text-align: center;
    width: 75%;
  }
